* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("/images/nyc.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: rgb(221, 82, 51);
}

.city-search {
    position: relative;
    left: 2em;
}

.searchVal {
    border: solid;
    border-color: rgb(88, 87, 86);
}

#button {
    border: solid;
    color: rgb(9, 79, 46);
    width: 2.5em;
}

h4 {
    padding: 0.3em;

}

#fiveday {
    position: relative;
    left: 1em;
    color: rgb(25, 12, 12)
}


.container-sm {
    background-color: rgb(180, 191, 209);
    width: 30%;
    position: relative;
    bottom: 6em;
    border-radius: 10px;
    border: solid;
    align-items: center;
    text-align: center;

}

/*forcast-cards aligned in a row*/
#forecast-cards {
    display: inline-flex;
    flex-direction: row;
    border-color: rgb(237, 13, 125);
    border-radius: 10px;
    justify-content: center;



}

#weather-container {
    position: relative;
    bottom: 15em;
    left: 18em;

}

#time {
    align-items: center;
    position: relative;

}

/* getting text to fit in container */
.forecast-container {
    position: relative;
    left: 8em;
    bottom: 2em;
    width: 85%;
    height: 100%;
    border-radius: 10px;
    border: solid, 20px, white;
}

.card-text {
    font-size: 16px;
    font-weight: 100;
}

/* styles for img size  */
img {
    width: 50%;
    position: relative;
    right: 0em
}

.jumbotron-fluid {
    background-color: rgb(117, 114, 139);
    text-align: center;
    position: relative;
    bottom: 0;
    display: block;
    color: white;
    width: 100%;
    align-items: vertical;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    flex-wrap: wrap;
    grid-column: auto;
}

p {
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

h5 {
    position: relative;
    left: 3em
}

.conditions {
    background-color: rgb(213, 224, 239);
    height: 30em;
    width: 20em;
    position: relative;
    top: 8em;
    left: 3em;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    flex-shrink: inherit;

}

@media screen and (max-width:950px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .conditions {
        display: flex;
        flex-wrap: wrap;
    }

    #forecast-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80vw;
    }



    .container-sm {}